html, body {
	background-color: #222222;
	color: #dddddd;
	font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#features-container h1,
#features-container h2,
#features-container h3 {
	text-transform: capitalize
}
